
//Susy setup -------------------------------------------------
$susy: (
columns: 4,
global-box-sizing: border-box,
//debug: (image:show)
);
@include border-box-sizing;

$small: 40em;
$medium: 50em;
$large: 71em;
$biglarge: 94em;

* {
	 -webkit-font-smoothing: antialiased;
}


@import "compass/layout/sticky-footer";

@include breakpoint($medium) {
@include sticky-footer(140px, ".wrapper", "#layout_footer", ".footerHolder");

}//medium


//Container -------------------------------------------------

.layout {
	padding: 0 .5rem;
	@include container();
	@include breakpoint($medium) {
	padding: 0;
	@include container($large);
	@include show-grid(12);
	
	}//tablet
	}//layout
	

	



body {



}
#{headings()}{
	font-weight: normal;

}

h1 {

}


h2 {

}

h4 {

}

a {
	text-decoration: none;
	@include transition(all 0.3s ease-in-out);
	
	&:hover {

	}
}

p {
	
	}
	
	em {

	}
	strong {

	}
	




