
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,200);

$grey: #ccc;

$tgrey: #333;
$black: #000;
$white: #FFFFFF;

$backcol: #ececec;



$font-heading: 'Georgia', serif;
$font-primary: 'Georgia', serif;



$default-border-radius: 10px;


